<%= form_for(@stage) do |f| %>
  <% if @stage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stage.errors.count, "error") %> prohibited this stage from being saved:</h2>

      <ul>
      <% @stage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </div>
  <div class="field">
    <%= f.label :start %><br>
    <%= f.time_field :start %>
  </div>
  <div class="field">
    <%= f.label :finish %><br>
    <%= f.time_field :finish %>
  </div>
  <div class="field">
    <%= f.label :gyara %><br>
    <%= f.number_field :gyara %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
